<header>
  <nav class="main">
    <ul>
      <li><a href="/accounts">Accounts</a></li>
      <li><a href="/repos">Repositories</a></li>
      <li><a target="_blank" href="http://rdf.greggkellogg.net/">
        Distiller
      </a></li>
      <li><a target="_blank" href="http://rdf.greggkellogg.net/yard/index.html">
        Documentation
      </a></li>
    </ul>
  </nav>
</header>